[build]
  command = "npm run build"
  publish = "dist/frontend/browser/browser/browser"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  framework = "#custom"
  command = "ng serve"
