<div class="login-page">
<div class="login-page-container">
  <h1 class="main-page-title">Log In</h1>
  <div class="breadcrumbs">
    <a routerLink="/">Home</a> > <span>Account</span>
  </div>

  <div class="login-content-wrapper">
    <div class="login-section">
      <h2 class="section-title">Log In</h2>
      <div *ngIf="loginError" class="form-error"><span class="icon">&#9888;</span>{{ loginError }}</div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-input" formControlName="email">
          <div class="error" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
            <span *ngIf="loginForm.get('email')?.errors?.['required']">Please enter your email address.</span>
            <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</span>
          </div>
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" class="form-input" formControlName="password">
          <div class="error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
            <span *ngIf="loginForm.get('password')?.errors?.['required']">Please enter your password.</span>
          </div>
        </div>
        <div class="form-group remember-me-group">
          <label>
            <input type="checkbox" formControlName="rememberMe"> Remember Me
          </label>
        </div>
        <a href="#" class="forgot-password">Forgot your password?</a>
        <button type="submit" class="sign-in-button">Sign In</button>
      </form>
    </div>

    <div class="new-customer-section">
      <h2 class="section-title">New Customer</h2>
      <p class="new-customer-text">
        Sign up for early Sale access plus tailored new arrivals,
        trends and promotions. To opt out, click unsubscribe in our
        emails.
      </p>
      <button class="register-button" routerLink="/register">Register</button>
    </div>
  </div>
</div>
</div>