.scrolling-text-container {
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  padding: 40px 0;
}

.scrolling-text-content {
  display: inline-block;
  animation: scrollText 30s linear infinite;
}

.scrolling-text-content span {
  font-family: 'Montserrat', sans-serif;
  font-size: 6vw;
  font-weight: 900;
  color: #000;
  text-transform: uppercase;
  padding-right: 2vw; /* Space between repeated text */
}

@keyframes scrollText {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 800px) {
  .scrolling-text-container {
    padding: 20px 0;
    margin-top: 20px;
  }
  .scrolling-text-content span {
    font-size: 10vw;
    padding-right: 4vw;
  }
}
