<div class="navbar-admin" [ngClass]="{'collapsed': isCollapsed}">
    <div class="navbar-header">
        <div class="logo" routerLink="/">
            <img src="assets/ShopMinaDark.png" alt="Admin ecommerce" class="logo-img">
        </div>
        @if (!isCollapsed) {
          <div class="header-icons">
              <i class="fas fa-chevron-left" (click)="toggleCollapse()"></i>
          </div>
        }
    </div>
    @if (isCollapsed) {
      <i class="fas fa-chevron-right navbar-expand-arrow" (click)="toggleCollapse()"></i>
    }
    <div class="sidebar">
        <ul>
            <li>
                <a [routerLink]="'/dashboard'" [attr.data-tooltip]="isCollapsed ? 'Dashboard' : null">
                    <i class="fas fa-home"></i>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>
            <li class="has-dropdown" [ngClass]="{'active': showProductsDropdown}">
                <a href="#" (click)="toggleProductsDropdown(); $event.preventDefault()" [attr.data-tooltip]="isCollapsed ? 'Products' : null">
                    <i class="fas fa-box"></i> <span>Products</span> <i class="fas fa-chevron-down arrow"></i>
                </a>
                @if (showProductsDropdown && !isCollapsed) {
                  <ul class="dropdown-menu">
                      <li><a [routerLink]="'/dashboard/add-product'">Add Product</a></li>
                      <li><a [routerLink]="'/dashboard/all-products'">All Products</a></li>
                  </ul>
                }
            </li>
            <li class="has-dropdown" [ngClass]="{'active': showOrdersDropdown}">
                <a href="#" (click)="toggleOrdersDropdown(); $event.preventDefault()" [attr.data-tooltip]="isCollapsed ? 'Orders' : null">
                    <i class="fas fa-shopping-cart"></i> <span>Orders</span> <i class="fas fa-chevron-down arrow"></i>
                </a>
                @if (showOrdersDropdown && !isCollapsed) {
                  <ul class="dropdown-menu">
                      <li><a [routerLink]="'/dashboard/all-orders'">All Orders</a></li>
                      <li><a [routerLink]="'/dashboard/abandoned-carts'">Abandoned Carts</a></li>
                  </ul>
                }
            </li>
            <li>
                <a [routerLink]="'/dashboard/all-users'" [attr.data-tooltip]="isCollapsed ? 'Customers' : null"><i class="fas fa-users"></i> <span>Customers</span></a>
            </li>
            <li>
                <a [routerLink]="'/dashboard'" [attr.data-tooltip]="isCollapsed ? 'Reviews' : null"><i class="fas fa-star"></i> <span>Reviews</span></a>
            </li>
            <li>
                <a [routerLink]="'/dashboard'" [attr.data-tooltip]="isCollapsed ? 'Transactions' : null"><i class="fas fa-exchange-alt"></i> <span>Transactions</span></a>
            </li>
        </ul>
        <hr class="sidebar-divider" />
        <ul>
            <li>
                <a [routerLink]="'/dashboard'" class="settings-link" [attr.data-tooltip]="isCollapsed ? 'Settings' : null"><i class="fas fa-cog"></i> <span>Settings</span></a>
            </li>
        </ul>
        <div class="sidebar-bottom-fixed">
            <ul>
                <li>
                    <a [routerLink]="'/dashboard'" class="help-link" [attr.data-tooltip]="isCollapsed ? 'Help' : null"><i class="fas fa-question-circle"></i> <span>Help</span></a>
                </li>
                <li>
                    <a [routerLink]="'/dashboard'" class="logout-link" [attr.data-tooltip]="isCollapsed ? 'Logout Account' : null"><i class="fas fa-sign-out-alt"></i> <span>Logout Account</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
