<div class="info-bar-container">
  <div class="top-section">
    <div class="info-block">
      <i class="fa-solid fa-truck"></i>
      <div class="text-content">
        <h3>Free Shipping</h3>
        <p>From 50€ of purchase</p>
      </div>
    </div>
    <div class="info-block">
      <i class="fa-solid fa-wallet"></i>
      <div class="text-content">
        <h3>Secure payment</h3>
        <p>Protection SSL</p>
      </div>
    </div>
    <div class="info-block">
      <i class="fa-solid fa-shield-halved"></i>
      <div class="text-content">
        <h3>Satisfied or refunded</h3>
        <p>For 14 days</p>
      </div>
    </div>
    <div class="info-block">
      <i class="fa-solid fa-headset"></i>
      <div class="text-content">
        <h3>Online Support</h3>
        <p>24/7</p>
      </div>
    </div>
  </div>
  <div class="bottom-section">
    <p class="signup-message">Sign up and receive <span>10% off</span> your first order.</p>
  </div>
</div>
